---
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
---
<article class="card featured-article">
  <div class="card-image">
      {post.data.heroImage}
  </div>
  <div class="card-content">
      <span class="card-category">{post.data.category}</span>
      <h2 class="card-title">{post.data.title}</h2>
      <p class="card-excerpt">{post.data.description}</p>
      <a href={`/blog/${post.slug}/`} class="read-more">Read Full Article</a>
  </div>
</article>